* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    min-height: 100vh;
    overflow-x: hidden;
}

.cabecalho,
.menu,
.home,
.cabecalho {
    width: min(1100px, 100%);
}

.cabecalho {
    display: flex;
    width: 100%;
    height: 130px;
    background-image: url(../img/paper.jpg);
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    border-bottom: 3px solid #3d2b1f;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.cabecalho::after {
    content: "";
    position: absolute;
    inset: 0;
    height: 109%;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.521),
            rgba(0, 0, 0, 0.25));
    z-index: 1;
}


.cabecalho .logo {
    display: flex;
    width: auto;
    height: 130%;
    z-index: 3;
}

.cabecalho .menu {
    font-size: 1.2rem;
    color: #fff;
    z-index: 3;
}

.cabecalho .menu ul {
    display: flex;
    justify-content: end;
    gap: 90px;
    list-style: none;
}

.cabecalho .menu ul li a {
    font-family: "Marck Script", cursive;
    font-weight: bold;
    font-size: x-large;
    color: #fff;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
}

.cabecalho .menu ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2.6px;
    background-color: #be8864;
    border-radius: 20px;
    transition: width 0.2s ease;
}

.cabecalho .menu ul li a:hover::after {
    width: 100%;
}

.cabecalho .menu ul li a:hover {
    color: #be8864;
    transition: 0.3s;
}

.wrapper-principal {
    display: flex;
    align-items: flex-start;
}

.home {
    position: relative;
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-image: url(../img/wallpaper.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 90vh;
    padding: 90px 60px;
}

.home::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.449),
            rgba(0, 0, 0, 0.35));
    z-index: 1;
}


.home .titulo,
.home h3 {
    position: relative;
    z-index: 10;
    max-width: 530px;
}

.home .titulo {
    font-size: 3rem;
    margin-bottom: 20px;
}

.home p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.home .show {
    position: absolute;
    right: 30%;
    transform: translateX(50%);
    bottom: 100px;
    width: 500px;
    height: auto;
    border: 2.5px solid #3d2b1f;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.6);
    z-index: 10;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.4, 1);
}

.late {
    display: flex;
    width: 100px;
    height: 100%;
    flex-direction: column;
    background: #261b13;
    border: 3px solid #fff;
}

.late .lista  {
    list-style: upper-roman;
    color: #fff;
    text-align: center;
    margin: 0px 10px 0px 50px;
}

.late .lista li{
    margin: 30px 40px;
    background:#65442c;
    border: 2px solid #fff;
    border-radius: 7px;
    width: 70%;
    padding: 10px;
}

.late .lista a {
    color: #fff;
    padding: 10px;
    text-decoration: none; 

}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 15px 0px 3px 0px;
    background:
        linear-gradient(to right,
            #000000 0%,
            #00000055 20%,
            #000000e3 90%,
            #000000de 100%),
        url(../img/wallpaper-footer.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: left;
    gap: 50px;
}

.rodape .subtitulo {
    margin-top: 100px;
    color: #facfab;
}

.rodape .subtitulo,
.rodape .social_media,
.rodape .opcoes,
.rodape p {
    width: 500px;
    margin-right: 240px;
    align-self: end;
    text-align: center;
}

.rodape .social_media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.rodape .social_media a {
    display: flex;
    flex-direction: row;
    background: #fff;
    height: 49px;
    width: 49px;
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.rodape .social_media a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    align-self: center;
    justify-items: center;
    margin: auto;
    object-fit: cover;
}

.rodape .social_media a:hover {
    transform: scale(1.2);
}

.rodape .social_media #instagram img {
    margin: -2.5px 0px -4px 9.5px;
}


.rodape .social_media #reddit img {
    width: 59px;
    height: 59px;
    margin: 3px 0px 2px -4.6px;
}



.rodape .social_media #instagram:hover {
    background: #FF990A;
    background: linear-gradient(35deg, rgba(255, 153, 10, 1) 16%, rgba(255, 8, 181, 1) 45%, rgba(177, 12, 237, 1) 72%);

    img {
        content: url(../img/social/instagram-light.png);
        margin: -2.5px 0px -4px 9.5px;

    }
}

.rodape .social_media #linkedin:hover {
    background: #0a66c2;

    img {
        content: url(../img/social/linkedin-light.png);
    }
}

.rodape .social_media #reddit:hover {
    background: #ff4a08;

    img {
        content: url(../img/social/reddit-light.png);
        width: 50px;
        height: 50px;
        margin: 0px 0px 0px -1px;
    }
}

.rodape .opcoes .lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rodape .opcoes .lista a {
    text-decoration: none;
    color: #fff;
    width: 150px;
    align-self: center;
    font-size: 150%;
    position: relative;
    padding-bottom: 5px;
}

.rodape .opcoes .lista a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2.6px;
    background-color: #be8864;
    border-radius: 20px;
    transition: width 0.5s ease;
}

.rodape .opcoes .lista a:hover::after {
    width: 100%;
    /* Expande a largura total */
}